# Cocktails

In [2]:
import pandas as pd

#### Importing data using pandas

In [4]:
df = pd. read_json("C:/Users/domci/ml-solvro-recruitment1/cocktail_dataset.json")

df.sample(n=2).T

,76,35
id,11387,11064
name,Frozen Daiquiri,Banana Daiquiri
category,Ordinary Drink,Ordinary Drink
glass,Champagne flute,Champagne flute
tags,None,[Fruity]
instructions,Combine all ingredients (except for the cherry...,Pour all ingredients into shaker with ice cube...
imageUrl,https://cocktails.solvro.pl/images/ingredients...,https://cocktails.solvro.pl/images/ingredients...
alcoholic,1,1
createdAt,2024-08-18T19:08:30.000+00:00,2024-08-18T19:06:41.000+00:00
updatedAt,2024-08-18T19:08:30.000+00:00,2024-08-18T19:06:41.000+00:00
ingredients,"[{'id': 106, 'name': 'Cherry', 'description': ...","[{'id': 47, 'name': 'Banana', 'description': N..."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            134 non-null    int64
 1   name          134 non-null    object
 2   category      134 non-null    object
 3   glass         134 non-null    object
 4   tags          35 non-null     object
 5   instructions  134 non-null    object
 6   imageUrl      134 non-null    object
 7   alcoholic     134 non-null    int64
 8   createdAt     134 non-null    object
 9   updatedAt     134 non-null    object
 10  ingredients   134 non-null    object
dtypes: int64(2), object(9)
memory usage: 11.6+ KB

In [6]:
df.describe()

                 id  alcoholic
count    134.000000      134.0
mean   11344.955224        1.0
std      306.506605        0.0
min    11000.000000        1.0
25%    11056.250000        1.0
50%    11304.000000        1.0
75%    11538.500000        1.0
max    11993.000000        1.0

### Preliminary EDA:
1. List datatype is not useful and needs handling in the first place
2. A lot of values in the tags column are missing
4. Out of 11 columns, only two of them are numeric
5. Columns with categorical datatype needs one-hot-encoding

In [12]:
df.head(n=2)

,id,name,category,glass,tags,instructions,imageUrl,alcoholic,createdAt,updatedAt,ingredients
0,11000,Mojito,Cocktail,Highball glass,"[IBA, ContemporaryClassic, Alcoholic, USA, Asi...",Muddle mint leaves with sugar and lime juice. ...,https://cocktails.solvro.pl/images/ingredients...,1,2024-08-18T19:01:17.000+00:00,2024-08-18T19:06:16.000+00:00,"[{'id': 170, 'name': 'Soda water', 'descriptio..."
1,11001,Old Fashioned,Cocktail,Old-fashioned glass,"[IBA, Classic, Alcoholic, Expensive, Savory]",Place sugar cube in old fashioned glass and sa...,https://cocktails.solvro.pl/images/ingredients...,1,2024-08-18T19:01:58.000+00:00,2024-08-18T19:06:17.000+00:00,"[{'id': 513, 'name': 'Water', 'description': '..."

In [16]:
print(df.iloc[0][10])

[{'id': 170, 'name': 'Soda water', 'description': None, 'alcohol': 1, 'type': None, 'percentage': None, 'imageUrl': None, 'createdAt': '2024-08-18T19:01:57.000+00:00', 'updatedAt': '2024-08-18T19:01:57.000+00:00'}, {'id': 305, 'name': 'Light Rum', 'description': 'Light rums, also referred to as "silver" or "white" rums, in general, have very little flavor aside from a general sweetness. Light rums are sometimes filtered after aging to remove any colour. The majority of light rums come from Puerto Rico. Their milder flavors make them popular for use in mixed drinks, as opposed to drinking them straight. Light rums are included in some of the most popular cocktails including the Mojito and the Daiquiri.', 'alcohol': 1, 'type': 'Rum', 'percentage': None, 'imageUrl': 'https://cocktails.solvro.pl/images/ingredients/light-rum.png', 'createdAt': '2024-08-18T19:02:37.000+00:00', 'updatedAt': '2024-08-18T19:02:37.000+00:00', 'measure': '2-3 oz '}, {'id': 312, 'name': 'Lime', 'description': 'A lime (from French lime, from Arabic līma, from Persian līmū, "lemon") is a hybrid citrus fruit, which is typically round, lime green, 3–6 centimetres (1.2–2.4 in) in diameter, and contains acidic juice vesicles.\r\n\r\nThere are several species of citrus trees whose fruits are called limes, including the Key lime (Citrus aurantifolia), Persian lime, kaffir lime, and desert lime. Limes are an excellent source of vitamin C, and are often used to accent the flavours of foods and beverages. They are grown year-round. Plants with fruit called "limes" have diverse genetic origins; limes do not form a monophyletic group.\r\n', 'alcohol': 0, 'type': 'Fruit', 'percentage': None, 'imageUrl': 'https://cocktails.solvro.pl/images/ingredients/lime.png', 'createdAt': '2024-08-18T19:02:40.000+00:00', 'updatedAt': '2024-08-18T19:02:40.000+00:00', 'measure': 'Juice of 1 '}, {'id': 337, 'name': 'Mint', 'description': 'Lamiaceae (/ˌleɪmiˈeɪsiˌaɪ/ or /ˌleɪmiˈeɪsiiː/) or Labiatae is a family of flowering plants commonly known as the mint or deadnettle family. Many of the plants are aromatic in all parts and include widely used culinary herbs, such as basil, mint, rosemary, sage, savory, marjoram, oregano, hyssop, thyme, lavender, and perilla. Some species are shrubs, trees (such as teak), or, rarely, vines. Many members of the family are widely cultivated, not only for their aromatic qualities but also their ease of cultivation, since they are readily propagated by stem cuttings. Besides those grown for their edible leaves, some are grown for decorative foliage, such as Coleus. Others are grown for seed, such as Salvia hispanica (chia), or for their edible tubers, such as Plectranthus edulis, Plectranthus esculentus, Plectranthus rotundifolius, and Stachys affinis (Chinese artichoke).\r\n\r\nThe family has a cosmopolitan distribution. The enlarged Lamiaceae contains about 236 genera and has been stated to contain 6,900 to 7,200 species, but the World Checklist lists 7,534. The largest genera are Salvia (900), Scutellaria (360), Stachys (300), Plectranthus (300), Hyptis (280), Teucrium (250), Vitex (250), Thymus (220), and Nepeta (200). Clerodendrum was once a genus of over 400 species, but by 2010, it had been narrowed to about 150.\r\n\r\nThe family has traditionally been considered closely related to the Verbenaceae; in the 1990s, phylogenetic studies suggested that many genera classified in the Verbenaceae should be classified in the Lamiaceae  or to other families in the order Lamiales.\r\n\r\nThe alternate family name Labiatae refers to the fact that the flowers typically have petals fused into an upper lip and a lower lip (labia in Latin). The flowers are bilaterally symmetrical with five united petals and five united sepals. They are usually bisexual and verticillastrate (a flower cluster that looks like a whorl of flowers, but actually consists of two crowded clusters). Although this is still considered an acceptable alternative name, most botanists now use the name Lamiaceae in referring to this family. The leaves emerge oppositely, each pair at right angles to the previous one (decussate) or whorled. The stems are frequently square in cross section, but this is not found in all members of the family, and is sometimes found in other plant families.', 'alcohol': 0, 'type': 'Flower', 'percentage': None, 'imageUrl': 'https://cocktails.solvro.pl/images/ingredients/mint.png', 'createdAt': '2024-08-18T19:02:47.000+00:00', 'updatedAt': '2024-08-18T19:02:47.000+00:00', 'measure': '2-4 '}, {'id': 476, 'name': 'Sugar', 'description': 'Sugar is the generic name for sweet-tasting, soluble carbohydrates, many of which are used in food.', 'alcohol': 0, 'type': None, 'percentage': None, 'imageUrl': 'https://cocktails.solvro.pl/images/ingredients/sugar.png', 'createdAt': '2024-08-18T19:03:31.000+00:00', 'updatedAt': '2024-08-18T19:03:31.000+00:00', 'measure': '2 tsp '}]

C:\Users\domci\AppData\Local\Temp\ipykernel_17780\2726895556.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[0][10])